{
    "root-data": "./../.db/forever",
    "wago-directories": [
		"../.db/forever/.config/.wago",
	],
	"json-directories": [ ],
    "db-relative": "Camelot/",
    "DataPhase": "FOREVER",
    "DataPatch": [ 1, 60, 1, 69893 ],
    "PreProcessorTags": [
        "ANYCLASSIC",
		"FOREVER",
		"CAMELOT",
		"CLASSIC",
		"CRIEVE",
		"EXPLORATION",
		"IGNORE_ERRORS",
		"OBJECTIVES",
		"NOSIMPLIFY",
		"INCLUDE_QUALITY",
    ],
}
