{
    "UseExportNewlines": true,
    "UseNameSorting": true,
    "ShowMergeWarnings": false,
    "SINGULAR_PLURAL_FIELDS_LONG": {
        "sourceAchievement": "sourceAchievements",
        "sourceQuest": "sourceQuests",
        "altQuestID": "altQuests",
        "qg": "qgs",
        "qs": "qss",
        "qi": "qis",
        "cr": "crs",
        "poiID": "poiIDs"
    },
    "NON_SORTED_FIELDS": [
        "crs",
        "qgs",
        "difficulties",
        "zone-text-areas"
    ],
    "PASS_THRU_FIELDS": [
        "maps_disp",
        "fillAdjust",
        "isGuild",
        "DontEnforceSkillRequirements",
        "symselector",
        "VerifyLoot",
        "InRetailSeason",
    ],
    "PROVIDER_TYPES": [
        "i",
        "n",
        "o",
        "s",
    ],
    "SOURCED": [
        "achID",
        "creatureID",
        "currencyID",
        "explorationID",
        "factionID",
        "flightpathID",
        "followerID",
        "headerID",
        "itemID",
        "mapID",
        "missionID",
        "mountID",
        "npcID",
        "objectID",
        "questID",
        "recipeID",
        "speciesID",
        "spellID",
        "sourceID"
    ],
    "WAGO_DATA_MERGE":[
        "Achievement",
        "Item",
        "ItemSearchName",
        "HouseDecor",
        "SkillLineAbility",
    ]
}
